*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h1{
   text-align: center; 
   margin: 20px;
}
.upper-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    height: 85vh;
    width: 95vw;
    border: 1px solid black;
    padding: 20px;
     background: linear-gradient(to right, #f3f4f6, #e5e7eb); /* Light gradient */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: auto;
    overflow-y: scroll;
    justify-content: space-around;
    gap: 20px;
}
.body > h1{
    font-size: 30px;
}
.info-container{
    background: rgba(255, 255, 255, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 25vw;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.info-container h1{
    font-weight: bold;
}
.info-container img{
    height: 100px;
    width: 80px;
    border-radius: 10px;
}